img {
    height: 64px;
    width: 64px;
}

form {
    border: 5px;
    padding: 30px;
}

.container {
    padding: 10px;
    border: 10px;
}

body {
    background-image: url("images/back_image.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
  }